<nav class="navbar navbar-expand-lg navbar-dark bg-dark"> 
  <a class="navbar-brand" routerLink="/">LinkJS</a>

  <div class = "collapse navbar-collapse" id="navbarSupportedContent">
    <ul class = "navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/weather">Weather</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/link">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/airbnb">AirBnB</a>
      </li>
    </ul>
    <ul class = "navbar-nav" *ngIf="isLoggedIn$ | async">
        <li class="nav-item">
            <span class="navbar-text" style="margin-right: 10px"> Welcome {{userName$ | async}} </span>
          </li>
      <button class="btn btn-outline-secondary" type="button" (click) = "onLogOut()" >Logout</button>
      </ul>

    <ul class = "navbar-nav" *ngIf="!(isLoggedIn$ | async)">
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
      <button class="btn btn-outline-secondary" type="button" routerLink="/register">Sign Up</button>
      </ul>
  </div>
</nav>